body {
	background-color:white; 
	color:black; 
}
/*
<BODY BGCOLOR="#99cc99" TEXT="#000000" LINK="#2020ff" VLINK="#4040cc">
*/
#all_page{
	background-color:white; 
	color:black; 
}
#all_page2{
	background-color:white; 
	color:black; 

}

#all_top { 
/*	position:relative; */
	text-align:center; 
}

#right_page {
	display:none;
}
#left_page{
}
#myContent{
	/*margin-bottom:50px;*/
}
#bottom_page
{
	display:none;
}
