#page5{}
#page6{font-size:14px;padding:5 5 5 5px;margin:5 5 5 5px;}
#page7{height:50px;text-align:center;padding:5 5 5 5px;}
#page4{height:40px;padding:5 5 5 5px;margin:5 5 5 5px;}
#page3{width:18%;top:70px;right:28px;position:fixed;padding-right:5px;
	margin-bottom:70px;display:inline;}
#page2{margin-right:22%;margin-top:30px;}
#my{font-size:14px;padding-top:4px;	padding-right:4px;}
#page1{height:35px;}
